get-docker.sh
ssl/
passwordfile
secret.yaml
auth/
etc-*/
mosquitto-ssl/
zigbee2mqtt-ssl/
**/zigbee2mqtt-data/configuration.yaml
**/zigbee2mqtt-data/coordinator_backup.json
**/zigbee2mqtt-data/database.db
**/zigbee2mqtt-data/log/
**/zigbee2mqtt-data/state.json
**/homebridge/volumes
**/home-assistant.log*
**/home-assistant_v2.db*
**/homeassistant-config/.storage/
# ignore the builtin homeassistant blueprints
**/homeassistant-config/blueprints/automation/homeassistant/motion_light.yaml
**/homeassistant-config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
**/homeassistant-config/blueprints/script/homeassistant/confirmable_notification.yaml
